extends ../_template
block variables
	- let title = 'DenisSeroshtan'
	//- color for mobile browsers
	- let colorBrowser = '#000'
block content
	include ../common/header
	include ../common/content
	include ../common/article
	include ../common/form





